
.idea/
out/
*.class
target/
build/
.gradle/
processor/com/dslplatform/json
publish.bat
*.iml
*.jar

.classpath
.project
.settings

processor/ExternalSerialization.java
processor/com.dslplatform.json.Configuration
processor/META-INF/services/com.dslplatform.json.Configuration
processor/dsl_json
processor/dsl_json_Annotation_Processor_External_Serialization.java
processor/_*_DslJsonConverter.java

