
.idea/
out/
*.class
target/
build/
.gradle/
tests-processor/com/dslplatform/json
publish.bat
*.iml
*.jar

.classpath
.project
.settings

tests-processor/ExternalSerialization.java
tests-processor/com.dslplatform.json.Configuration
tests-processor/META-INF/services/com.dslplatform.json.Configuration
tests-processor/dsl_json
tests-processor/dsl_json_Annotation_Processor_External_Serialization.java
tests-processor/_*_DslJsonConverter.java

